In [254]:
# I imported Pandas library and read in the dataset
import pandas as pd

df = pd.read_csv('dirty_cafe_sales.csv')

In [255]:
# I opened the dataset - first 5 rows
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [256]:
# I checked to see the Data Type of the columns
df.dtypes

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [257]:
# I corrected the datatypes of  'Quantity', 'Price Per Unit', 'Total Spent', and 'Transaction Date' using the codes below

In [258]:
# But before I could chgange data type of numerical columns, I had to change texts to 0

In [259]:
df.loc[df['Quantity'] == 'ERROR', 'Quantity'] = '0'

In [260]:
df.loc[df['Quantity'] == 'UNKNOWN', 'Quantity'] = '0'

In [277]:
df.loc[df['Quantity'].isnull(), 'Quantity'] = '0'

In [262]:
df['Quantity'] = df['Quantity'].astype('Int64')

In [263]:
df.loc[df['Price Per Unit'] == 'ERROR', 'Price Per Unit'] = '0'

In [264]:
df.loc[df['Price Per Unit'] == 'UNKNOWN', 'Price Per Unit'] = '0'

In [278]:
df.loc[df['Price Per Unit'].isnull(), 'Price Per Unit'] = '0'

In [266]:
df['Price Per Unit'] = df['Price Per Unit'].astype('Float64')

In [267]:
df.loc[df['Total Spent'] == 'ERROR', 'Total Spent'] = '0'

In [268]:
df.loc[df['Total Spent'] == 'UNKNOWN', 'Total Spent'] = '0'

In [279]:
df.loc[df['Total Spent'].isnull(), 'Total Spent'] = '0'

In [270]:
df['Total Spent'] = df['Total Spent'].astype('Float64')

In [271]:
df.loc[df['Transaction Date'] == 'ERROR', 'Transaction Date'] = '1900-01-01'

In [272]:
df.loc[df['Transaction Date'] == 'UNKNOWN', 'Transaction Date'] = '1900-01-01'

In [273]:
df.loc[df['Transaction Date'].isnull(), 'Transaction Date'] = '1900-01-01'

In [274]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])

In [275]:
# I checked for missing rows using the code below
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date       0
dtype: int64

In [280]:
# I filtered to see only the missing rows in Item column

In [281]:
df[df['Item'].isnull()]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
30,TXN_1736287,NaN,5,2.0,10.0,Digital Wallet,NaN,2023-06-02
61,TXN_8051289,NaN,1,3.0,3.0,NaN,In-store,2023-10-09
72,TXN_6044979,NaN,1,1.0,1.0,Cash,In-store,2023-12-08
89,TXN_4132730,NaN,5,1.0,5.0,NaN,In-store,2023-03-12
...,...,...,...,...,...,...,...,...
9820,TXN_8751702,NaN,5,0.0,15.0,Cash,NaN,2023-02-13
9855,TXN_3740505,NaN,2,1.5,3.0,NaN,NaN,2023-11-21
9876,TXN_3105633,NaN,1,2.0,2.0,NaN,In-store,2023-03-30
9885,TXN_4659954,NaN,3,4.0,12.0,Credit Card,In-store,1900-01-01
9996,TXN_9659401,NaN,3,0.0,3.0,Digital Wallet,NaN,2023-06-02

In [282]:
# I checked to see if some Items had consistent Price per unit so I could use them to fill the missing Items
df[df['Price Per Unit'] == 1.0]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
2,TXN_4271903,Cookie,4,1.0,0.0,Credit Card,In-store,2023-07-19
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
26,TXN_5183041,Cookie,5,1.0,5.0,Credit Card,In-store,2023-04-20
31,TXN_8927252,UNKNOWN,2,1.0,0.0,Credit Card,ERROR,2023-11-06
33,TXN_7710508,UNKNOWN,5,1.0,5.0,Cash,NaN,1900-01-01
...,...,...,...,...,...,...,...,...
9945,TXN_8153550,Cookie,2,1.0,2.0,Cash,Takeaway,2023-10-12
9951,TXN_4122925,ERROR,4,1.0,4.0,NaN,Takeaway,2023-10-20
9956,TXN_1958525,Cookie,3,1.0,3.0,NaN,Takeaway,2023-10-08
9976,TXN_3528020,Cookie,1,1.0,1.0,NaN,Takeaway,2023-08-26
9982,TXN_8567525,Cookie,2,1.0,2.0,NaN,Takeaway,2023-12-30

In [283]:
x = df[df['Price Per Unit'] == 1.0]

In [284]:
x['Item'].drop_duplicates()

2       Cookie
31     UNKNOWN
72         NaN
283      ERROR
Name: Item, dtype: object

In [285]:
# I found that Price per unit = 1.0, 1.5, 2.0, 5.0 were consistent so I filled up the missing items with them
# I found that Price per unit = 0.0, 3.0, 4.0 had multiple items so I filled up the missing items with 'Unknown'

In [286]:
df.loc[df['Price Per Unit'] == 1.0, 'Item'] = 'Cookie'

In [287]:
df.loc[df['Price Per Unit'] == 1.5, 'Item'] = 'Tea'

In [288]:
df.loc[df['Price Per Unit'] == 2.0, 'Item'] = 'Coffee'

In [289]:
df.loc[df['Price Per Unit'] == 5.0, 'Item'] = 'Salad'

In [290]:
df.loc[df['Item'].isin([0.0,3.0,4.0]), 'Item'] = 'Unknown'

In [291]:
df.loc[df['Item'].isnull(), 'Item'] = 'Unknown'

In [292]:
''' To fill up missing rows in 'Quantity', I divided 'Total Spent' and 'Price Per Unit'. 
But some rows in 'Total Spent' and 'Price Per Unit' were zero so I filtered those rows out in the code below '''

" To fill up missing rows in 'Quantity', I divided 'Total Spent' and 'Price Per Unit'. \nBut some rows in 'Total Spent' and 'Price Per Unit' were zero so I filtered those rows out in the code below "

In [293]:
df.loc[(df['Quantity'] == 0) & (df['Price Per Unit'] != 0) & (df['Total Spent'] != 0),'Quantity'] 
= df['Total Spent'] / df['Price Per Unit']

SyntaxError: invalid syntax (1639026070.py, line 2)

In [294]:
df[df['Quantity'] == 0]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
20,TXN_3522028,Smoothie,0,4.0,20.0,Cash,In-store,2023-04-04
55,TXN_5522862,Cookie,0,1.0,2.0,Credit Card,Takeaway,2023-03-19
57,TXN_2080895,Cake,0,3.0,3.0,Digital Wallet,In-store,2023-04-19
66,TXN_8501819,Juice,0,3.0,6.0,Cash,NaN,2023-03-30
117,TXN_2148617,Juice,0,3.0,9.0,Digital Wallet,UNKNOWN,2023-01-10
...,...,...,...,...,...,...,...,...
9932,TXN_8502079,Tea,0,1.5,3.0,Cash,NaN,2023-04-20
9935,TXN_9778251,Tea,0,1.5,6.0,NaN,Takeaway,2023-11-09
9944,TXN_7495283,Cake,0,3.0,15.0,Credit Card,Takeaway,2023-04-14
9957,TXN_6487003,Coffee,0,2.0,8.0,Credit Card,Takeaway,2023-11-15
9984,TXN_3142496,Smoothie,0,4.0,4.0,Cash,Takeaway,2023-07-27

In [295]:
# For the missing rows in 'Total Spent' and 'Price Per Unit', I filled them with the average of those columns

In [296]:
df['Total Spent'].mean()

8.47635

In [297]:
df['Price Per Unit'].mean()

2.79275

In [298]:
df.loc[df['Price Per Unit'] == 0, 'Price Per Unit'] = 3.0

In [299]:
df.loc[df['Total Spent'] == 0, 'Total Spent'] = 9.0

In [300]:
# Then I filled the remaining missing rows with df['Total Spent']/df['Price Per Unit']

In [ ]:
df.loc[df['Quantity'] == 0, 'Quantity'] = df['Total Spent']/df['Price Per Unit']

In [302]:
# For 'Payment Method' and 'Location', I filled the missing rows with 'Unknown'

In [303]:
df.loc[df['Payment Method'].isnull(), 'Payment Method'] = 'Unknown'

In [ ]:
df.loc[df['Location'].isnull(), 'Location'] = 'Unknown'

In [ ]:
# checked for duplicate rows and found none
df[df.duplicated()]

In [ ]:
''' I checked for spelling and inconsistent naming convention in 'Item', 'Payment Method' and 'Location' columns.
I found wrong values - 'UNKNOWN' and 'ERROR' in the columns '''

In [ ]:
df['Item'].drop_duplicates()

In [ ]:
''' I checked to see if the 'UNKNOWN' and 'ERROR' rows had consistent Price per unit,
so I could use them to fill the wrong values but I saw that it was 3.0 and 4.0 so I left them as 'Unknown' '''

In [ ]:
x = df[df['Item'] == 'UNKNOWN']

In [ ]:
x['Price Per Unit'].drop_duplicates()

In [ ]:
y = df[df['Item'] == 'ERROR']

In [ ]:
y['Price Per Unit'].drop_duplicates()

In [ ]:
# I replaced 'UNKNOWN' and 'ERROR' with 'Unknown' in those 3 columns

In [ ]:
df.loc[df['Item'] == 'UNKNOWN', 'Item'] = 'Unknown'

In [ ]:
df.loc[df['Item'] == 'ERROR', 'Item'] = 'Unknown'

In [ ]:
df['Payment Method'].drop_duplicates()

In [ ]:
df.loc[(df['Payment Method'] == 'UNKNOWN') | (df['Payment Method'] == 'ERROR'), 'Payment Method'] = 'Unknown'

In [ ]:
df['Location'].drop_duplicates()

In [ ]:
df.loc[(df['Location'] == 'UNKNOWN') | (df['Location'] == 'ERROR'), 'Location'] = 'Unknown'